{% extends 'base_back.html.twig' %}

{% block title %}
  New Ex
{% endblock %}

{% block body %}
  <div class="container-fluid">
    <h1>Create new Education</h1>

    {{ include('back/education/_form.html.twig') }}

    <a href="{{ path('app_back_education_list') }}"><button type="button" class="btn btn-sm btn-primary mx-1 mb-2 bi bi-arrow-left-square">Back to list</button></a>
  </div>
{% endblock %}
