{% extends 'base_back.html.twig' %}

{% block title %}
  Edit Technology
{% endblock %}

{% block body %}
  <div class="container-fluid">
    <h1>Edit Technology</h1>

    {{ include('back/tech/_form.html.twig', { button_label: 'Update' }) }}

    {{ include('back/tech/_delete_form.html.twig') }}

    <a href="{{ path('app_back_tech_list') }}"><button type="button" class="btn btn-sm btn-primary mx-1 mb-2 bi bi-arrow-left-square">Back to list</button></a>
  </div>
{% endblock %}
