{% extends 'base.html.twig' %}

{% block title %}
  Edit Zone
{% endblock %}

{% block body %}
  {% block subBody %}
    <div class="container-fluid">
      <h1>Edit Zone</h1>

      {{ include('zone/_form.html.twig', { button_label: 'Update' }) }}

      {{ include('zone/_delete_form.html.twig') }}
      <a href="{{ path('app_admin_zone_list') }}"><button type="button" class="btn btn-sm btn-primary mx-1 mb-2 bi bi-arrow-left-square">Back to list</button></a>
    </div>
  {% endblock %}
{% endblock %}
