.center-wrapper {
    display: flex;
    height: 100%;
    width: 100%;
}

.half-wrapper {
    width: 50%;
    padding: .5rem;
}

.half-wrapper.left {}

.half-wrapper.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.res-block-header {
    font-size: 1.5rem;
}

.content-box {
    display: flex;
    height: 50%;
    justify-content: center;
}

.content-box.img {
    padding: .5rem 0;
}

.court-img {
    max-height: 100%;
}

.content-box.text {
    font-size: 1rem;
    margin: 0 auto;
}