.center-wrapper {
    display: flex;
    height: 100%;
    width: 100%;
}

.half-wrapper {
    /* width: 50%; */
    padding: .5rem;
}

.left {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.right {
    width: 40%;
}

.date-select {
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 100%;
    gap: 2px;
    border-radius: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.date-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    padding: .5rem;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    -webkit-transition-property: all;
    -webkit-transition-duration: .1s;
    -webkit-transition-timing-function: ease;
    box-shadow: inset 0 0 6px 1px #363333;
}

.date-box-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 15px;
    box-shadow: inset 0 0 5px 2px #363333;
}

.date-box:hover {
    background-color: #dfff4f;
    cursor: pointer;
}

.date-box-header {
    font-weight: 600;
    margin-bottom: .25rem;
}

.date-box-text {
    font-size: .8rem;
}

.selected {
    background-color: #dfff4f;
    transform: scale(.95);
}

.weather-icon {
    margin-top: .2rem;
}

.accordion {
    margin: 2rem auto;
}

.accordion-item {
    border: none;
}

.accordion-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 15px;
    cursor: pointer;
    background-color: white;
}

.accordion-title:hover {
    background-color: white;
}

.accordion-title,
.accordion-content {
    padding: 1rem;
}

.accordion-content {
    background-color: white;
}

.availabilities-wrapper {}

.half-wrapper.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-box {
    display: flex;
    height: 50%;
    justify-content: center;
}

.content-box.img {
    padding: .5rem 0;
}

.court-img {
    max-height: 100%;
}

.content-box.text {
    font-size: 1rem;
    margin: 0 auto;
}