.main-wrapper {
    position: relative;
    box-sizing: border-box;
    display: flex;
    /* height: 80vh; */
    /* width: 100vw; */
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.component-wrapper {
    display: flex;
    justify-content: flex-start;
    width: fit-content;
    box-sizing: content-box;
    margin: 0 auto;
}

.dashboard-wrapper {
    width: fit-content;
    justify-content: center;
    margin: 0 5%;
}

.sidebar {
    height: 80vh;
    background-color: #363333;
    padding: 2rem 5%;
    width: fit-content;
}

.sidebar-header {
    color: #dfff4f;
    margin-bottom: 1.25rem;
}

.sidebar-list-wrapper {
    display: flex;
    position: relative;
}

.sidebar-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sidebar-list-item {
    cursor: pointer;
}

.res-active-wrapper {
    height: 30%;
    border-bottom: 2px solid grey;
    padding: 2rem 0;
    align-content: flex-start;
}

.res-past-wrapper {
    height: 70%;
    padding: 2rem 0;
    align-content: flex-start;
}

.prefs {
    height: 100%;
}

.prefs-list {}

.prefs-list-item .link:link {
    color: black;
}

.prefs-list-item .link:visited {
    color: black;
}

.prefs-list-item .link:hover {
    color: grey;
}

.prefs-list-item .link.edit:active {
    color: black;
}

.prefs-list-item .link.delete:active {
    color: red;
}

.h4-dark {
    color: black;
}

.table-header {
    height: fit-content;
    padding-left: .5rem;
    margin-bottom: .5rem;

}

.table-columns {
    border-bottom: 1px solid lightgray;
}

.table-custom {
    height: fit-content;
}