.connect-button {
    background-color: #dfff4f;
    color: black;
    font-size: 1.25rem;
    height: 55px;
    padding: 8px 6px;
    min-width: 120px;
    width: 10%;
    border: .5px solid black;
    border-radius: 30px;
    display: flex;
    position: relative;
    transition-duration: .2s;
    box-shadow: inset 0 0 3px 1px black;
    -webkit-transition-property: all;
    -webkit-transition-duration: .1s;
    -webkit-transition-timing-function: ease;
}

.connect-button-2 {
    display: flex;
    background-color: white;
    box-shadow: 0 0 6px 3px white, 0 0 6px 3px white;
    border-radius: 25%;
    height: 90%;
    width: 90%;
    align-items: center;
    justify-content: center;
}

.connect-button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 6px 2px white, inset 0 0 3px 1px black;
    cursor: pointer;
}

.connect-button:active {
    background-color: #dfff4f;
    transform: scale(1);
}

.dropdown-container {
    border: 1px solid black;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 180px;
    width: 220px;
    background-color: #d9d9d9;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    z-index: 3;
    margin-top: 5px;
}

.title-container {
    display: flex;
    flex-direction: column;
    font-size: 64px;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-wrapper {
    display: flex;
    justify-content: center;
}

.error-label {
    display: block;
    color: red;
    font-size: 12px;
}

.settings-input {
    border-radius: 10px;
    border: 1px solid grey;
    height: 2rem;
    padding: 5px;
    width: 190px;
    font-size: .8rem;
}

.input-button {
    font-family: "Overpass Mono", monospace;
    color: #ffffff;
    font-size: 1rem;
    border-radius: 20px;
    background-color: black;
    width: 100px;
    height: 30px;
    margin: 0 auto;
    margin-bottom: .75rem;
}

.input-button:hover {
    box-shadow: inset 0 0 8px black;
}

.acct-create {
    display: flex;
    justify-content: center;
    font-size: .75rem;
}

.acct-create-link {
    padding-left: .25rem;
}

.acct-create a:link {
    font-size: .75rem;
}

.acct-create a:visited {
    color: blue;
}

.acct-create a:hover {
    color: #dfff4f;

}

.acct-create a:active {
    color: black;
}

.hidden {
    display: none;
}