.connect-button {
    font-size: 1.25rem;
    color: black;
    background-color: #ffffff;
    height: 55px;
    padding: 8px;
    min-width: 120px;
    width: 10%;
    border: .5px solid black;
    /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.dropdown-container {
    flex-direction: column;
    border: 1px solid black;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 180px;
    width: 200px;
    background-color: #d9d9d9;
    margin-top: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    z-index: 3;
}

.title-container {
    display: flex;
    flex-direction: column;
    font-size: 64px;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
}

.input-container {
    display: flex;
}

.error-wrapper .error-label {
    color: red;
    font-size: 12px;
}

.settings-input {
    border-radius: 10px;
    border: 1px solid grey;
    height: 20px;
    padding: 5px;
    width: 140px;
}

.input-button {
    font-family: "Overpass Mono", monospace;
    color: #ffffff;
    font-size: 1rem;
    border-radius: 20px;
    background-color: black;
    width: 100px;
    height: 30px;
    margin: 0 auto;
    margin-bottom: 0;
    /* margin-top: 10px; */
}

.input-button:hover {
    box-shadow: inset 0 0 8px black;
}

.invalid-error {
    text-align: center;
    font-size: 12px;
    color: red;
    padding-top: 10px;
}

.hidden {
    display: none;
}