.page-title {
    padding-top: 0;
}

.new-acct-form {
    display: flex;
    flex-direction: column;
    padding: 0 5%;
    height: fit-content;
    width: 100%;
}

.form-input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1.5rem 0;
}

.form-input {
    border-radius: 10px;
    border: 1px solid grey;
    height: 2rem;
    padding: 5px;
    font-size: .8rem;
    width: 400px;
    /* flex: 1; */
}

.form-input-label {
    font-size: 1.25rem;
    margin-right: 1rem;
    text-align: right;
    width: 200px;
}

.form-error-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.form-error-label {
    display: block;
    color: red;
    font-size: 1.25rem;
}

.form-success-wrapper {
    display: flex;
    justify-content: flex-start;
    margin-top: 1rem;
}

.form-input-error-wrapper {
    margin-left: 1rem;
}

.form-input-error-label {
    display: block;
    color: red;
}

.form-success-label {
    display: block;
    color: darkgreen;
    font-size: 1.25rem;
}

.form-input-button {
    font-family: "Overpass Mono", monospace;
    color: #ffffff;
    font-size: 1rem;
    border-radius: 20px;
    background-color: black;
    width: fit-content;
    padding: .75rem 1.5rem;
    height: fit-content;
}

.form-input-button:hover {
    box-shadow: inset 0 0 8px black;
}