body,
html {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    font-family: "Overpass Mono", monospace;
}

h1,
h2,
h3 {
    color: #ffffff;
    font-family: "Overpass Mono", monospace;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 3rem;
}

a {
    text-decoration: none;
    font-size: 1.25rem;
    font-family: "Overpass Mono", monospace;
}

a:visited {
    color: #ffffff;
}

a.link-dark:link {
    color: #ffffff;
}

a.link-dark:visited {
    color: #ffffff;
}

a.link-dark:hover {
    font-weight: 600;
}

a.link-dark:active {
    color: #ffffff;
}

a.link-light:link {
    color: #ffffff;
}

a.link-light:hover {
    font-weight: 600;
}

a.nav-item:hover {
    color: #dfff4f;
}

a.nav-item:active {
    color: #ffffff;
}

.popup-button a {
    font-size: .8rem;
}

.footer a:link {
    color: #ffffff;
}

.footer a:hover {
    font-weight: normal;
    color: #dfff4f;
}

button {
    font-family: "Overpass Mono", monospace;
    align-items: center;
    border-radius: 55px;
    border: none;
    display: flex;
    gap: 8px;
    justify-content: center;
    position: relative;
    transition-duration: .2s;
}

#map {
    align-self: stretch;
    flex: 1;
}

input:focus {
    outline: transparent;
    border: 2px solid #dfff4f;
    box-shadow: 0 0 10px #363333;
}

.springspot-homepage {
    align-items: center;
    position: relative;
    width: 100%;
}

.header-wrapper {
    position: relative;
    box-sizing: border-box;
    margin-bottom: 5vh;
}

.navbar {
    align-items: center;
    background-color: #363333;
    display: flex;
    gap: 5%;
    height: 10vh;
    padding: 0 5%;
}

.title-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
}

.page-title {
    position: relative;
    padding-top: 3%;
}

.page-title span {
    color: #dfff4f;
    font-weight: 600;
}

.nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    flex-grow: 1;
    height: 6vh;
}

.nav-link-items {
    display: inline-flex;
    gap: 1.5rem;

}

.nav-item {
    position: relative;
}

.main-box-wrapper {
    position: relative;
    box-sizing: border-box;
    height: 70vh;
    z-index: 0;
}

.main-box {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5%;
    height: 100%;
}

.map-wrapper {
    flex-direction: row;
}

.footer-wrapper {
    color: #ffffff;
    background-color: #363333;
    position: relative;
    width: 100%;
    margin-top: 5vh;
}

.footer-nav-links {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-grow: 1;
    height: 10vh;
    position: relative;
    gap: 1.25rem;
    padding: 0 5%;
}

.footer-nav-items {
    display: inline-flex;
    gap: 2rem;
}

.socials {
    display: inline-flex;
}

.social-icon {
    padding: 0 32px;
}



.button:hover {
    background-color: #dfff4f;
    color: black;
    font-weight: 600;
    /* box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); */
}

.button:active {
    background-color: #ffffff;
    color: black;
}