body,
html {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: "Overpass Mono", monospace;
}

h1,
h2,
h3,
h4 {
    color: #ffffff;
    font-family: "Overpass Mono", monospace;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2rem;
}

a {
    text-decoration: none;
    font-size: 1.25rem;
    font-family: "Overpass Mono", monospace;
}

a:visited {
    color: #ffffff;
}

a:hover {
    cursor: pointer;
}

a.link {
    text-decoration: none;
    color: #ffffff;
}

a.link:link {
    color: #ffffff;
}

a.link:hover {
    color: #dfff4f;
}

a.link:active {
    color: #ffffff;
}

.popup-button a {
    font-size: .8rem;
}

button {
    font-family: "Overpass Mono", monospace;
    align-items: center;
    border-radius: 55px;
    border: none;
    line-height: 0;
    display: flex;
    gap: 8px;
    justify-content: center;
    position: relative;
    box-shadow: inset 0 0 6px #363333;
    transition: all .1s ease-in-out;
}

#map {
    align-self: stretch;
    flex: 1;
}

input:focus {
    outline: transparent;
    border: 2px solid #dfff4f;
    box-shadow: 0 0 10px #363333;
}

.stringspot-layout {
    align-items: center;
    position: relative;
    width: 100%;
}

.header-wrapper {
    position: relative;
    box-sizing: border-box;
}

.navbar {
    align-items: center;
    background-color: #363333;
    display: flex;
    gap: 5%;
    height: 10vh;
    padding: 0 5%;
}

.title-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
}

.page-title {
    position: relative;
    padding-top: 3%;
}

.page-title span {
    color: #dfff4f;
    font-weight: 600;
}

.nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    flex-grow: 1;
    height: 6vh;
}

.nav-link-items {
    display: inline-flex;
    gap: 1.5rem;
    font-size: 1.25rem;
    color: #ffffff;

}

.nav-item {
    position: relative;
}

.main-box-wrapper {
    position: relative;
    box-sizing: border-box;
    height: 80vh;
    z-index: 0;
    overflow: auto;
    scrollbar-gutter: stable;
}

.main-box {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    padding-bottom: 0;
    height: 100%;
}

.map-wrapper {
    flex-direction: row;
}

.footer-wrapper {
    color: #ffffff;
    background-color: #363333;
    position: relative;
    width: 100%;
}

.footer-nav-links {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-grow: 1;
    height: 10vh;
    position: relative;
    gap: .8rem;
    padding: 0 5%;
}

.footer-nav-items {
    display: inline-flex;
    gap: 2rem;
}

.socials {
    display: inline-flex;
}

.social-icon {
    margin: 0 32px;
    transition: all .1s ease-in-out;
}

.social-icon:hover {
    transform: scale(1.5);
}

.social-icon:active {
    transform: scale(1.25);
}

.button:hover {
    background-color: #dfff4f;
    color: #363333;
    transform: scale(1.05);
    cursor: pointer;
}

.button:active {
    transform: scale(1);
}

.button:active {
    background-color: #ffffff;
    color: #363333;
}

.standard-table-header {
    height: fit-content;
    padding-left: .5rem;
    margin-bottom: .5rem;
}