{% extends 'base.html.twig' %}

{% block title %}
  New Experience
{% endblock %}

{% block body %}
  {% block subBody %}
    <div class="container-fluid">
      <h1>Create new Experience</h1>

      {{ include('back/experience/_form.html.twig') }}
    </div>
  {% endblock %}
{% endblock %}
